<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinitoapps.punjabgovttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpFirst" />
        <activity android:name=".SignUpSecond" />
        <activity android:name=".SignUpThird" />
        <activity android:name=".JobsActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".JobsInsideActivity" />
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".SignUpFirstComp" />
        <activity
            android:name=".LoginActivityCompany"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpSecondComp" />
        <activity android:name=".ProfilePicUPload" />
        <activity android:name=".CompanyDashboardActivity" />
        <activity android:name=".AddJobActivity" />
        <activity android:name=".AddJobSecondActivity" />
        <activity android:name=".CalendarActivity"/>
    </application>

</manifest>